{% extends 'playout.html' %}
{% block content %}

<div class="gallery py-sm-5 py-4">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="title mb-sm-4 mb-3">
			<span>O</span>ur
			<span>G</span>allery</h3>
		<div class="row gallery-grids">
			<div class="col-sm-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<a class="example-image-link" href="../static/images/m1.jpg" data-lightbox="example-set" data-title="">
							<img src="../static/images/m1.jpg" alt=""  class="img-fluid"/>
						</a>
						<figcaption>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<a class="example-image-link" href="../static/images/m8.jpg" data-lightbox="example-set" data-title="">
							<img src="../static/images/m8.jpg" alt="" class="img-fluid" />
						</a>
						<figcaption>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<a class="example-image-link" href="../static/images/m3.jpg" data-lightbox="example-set" data-title="">
							<img src="../static/images/m3.jpg" alt=""  class="img-fluid"/>
						</a>
						<figcaption>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<div class="row gallery-grids">
			<div class="col-sm-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<a class="example-image-link" href="../static/images/m9.jpg" data-lightbox="example-set" data-title="">
							<img src="../static/images/m9.jpg" alt=""  class="img-fluid"/>
						</a>
						<figcaption>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<a class="example-image-link" href="../static/images/m4.jpg" data-lightbox="example-set" data-title="">
							<img src="../static/images/m4.jpg" alt=""  class="img-fluid" />
						</a>
						<figcaption>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<a class="example-image-link" href="../static/images/m5.jpg" data-lightbox="example-set" data-title="">
							<img src="../static/images/m5.jpg" alt=""  class="img-fluid" />
						</a>
						<figcaption>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
		<div class="row gallery-grids">
			<div class="col-sm-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<a class="example-image-link" href="../static/images/m6.jpg" data-lightbox="example-set" data-title="">
							<img src="../static/images/m6.jpg" alt=""  class="img-fluid"/>
						</a>
						<figcaption>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<a class="example-image-link" href="../static/images/m7.jpg" data-lightbox="example-set" data-title="">
							<img src="../static/images/m7.jpg" alt=""  class="img-fluid"/>
						</a>
						<figcaption>
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="col-sm-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-apollo">
						<a class="example-image-link" href="../static/images/m2.jpg" data-lightbox="example-set" data-title="">
							<img src="../static/images/m2.jpg" alt=""  class="img-fluid"/>
						</a>
						<figcaption>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //gallery -->

<!-- middle section -->
<div class="middle-w3l py-sm-5 py-4">
	<div class="container py-xl-5 py-lg-3">
		<h2>reach your destination 100% sure and safe</h2>
		<p class="my-md-4 my-2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.</p>
		<a href="contact.html" class="btn btn-secondary btn-lg button2-w3l mt-4" role="button" aria-pressed="true">Contact Us</a>
	</div>
</div>

{% endblock %}